*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red-color: #F03C42;
    --blue-color: #222374;
    --gray-color: #CCC;
    --white-color: #FFF;
    --black-color: #000;
}
body{
    width: 1200px;
    margin: 0 auto;
}
#header-space{
    width: 1200px;
    height: 100px;
    padding: auto 120px;
    background: var(--red-color);
    display: flex;
    justify-content: center;
}

.header-container1 {
    display: flex;
    align-items: center;
}

h1 {
    width: 99px;
    height: 25px;
    color: var(--white-color);
    font-size: 18px;
    margin-right: 736px;
}
img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.header-container1 a{
    width: 85px;
    height: 19px;
    color: var(--white-color);
    font-size: 14px;
}

#our-space {
    background: var(--blue-color);
    height: 418px;
}
.space-container h2{
    color: var(--white-color);
    font-size: 32px;
    width: 357px;
    height: 44px;
    margin: 0px 723px 40px 120px;
}
.space-container h3{
    color: var(--black-color);
    font-size: 20px;
    margin: 20px 788px 20px 20px;
}
.space-container p{
    width: 920px;
    height: 40px;
    color: var(--black-color);
    font-size: 14px;
    margin:20px;
}
.our-space-card{
    width: 960px;
    height: 127px;
    background: var(--gray-color);
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 20px;
}
#modalities{
    background: var(--white-color);
    height: 880px;
    border: 1px solid black;
}
.modalities-container h2{
    margin: 20px 876px 20px 120px;
    color: var(--red-color);
    width: 204px;
    height: 44px;
    font-size: 32px;
}
.modalities-cards{
    background: var(--blue-color);
    margin: 20px 120px 0px 120px;
    width: 960px;
    height: 106px;
    padding: 20px;
}
.modalities-cards h3{
    width: 76px;
    height: 27px;
    font-size: 20px;
    margin-right: 844px;
    color: var(--white-color);
}
.modalities-cards p{
    width: 663px;
    height: 19px;
    font-size: 14px;
    color: var(--white-color);
    margin-top: 20px;
    margin-right: 257px;
}
#footer-space{
    height: 262px;
    background: var(--black-color);
    color: var(--white-color);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    align-items: center;
}

footer a{
    width: 85px;
    height: 19px;
    color: var(--white-color);
    text-decoration: none;
}
footer img {
    margin-bottom: 10px;
    margin-left: 30px;
}

footer p {
    width: 180px;
    height: 21px;
    text-align: center;
}
