@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    cursor: default;
}

:root{
    --red-color: #F03C42;
    --blue-color: #222374;
    --gray-color: #CCC;
    --white-color: #FFF;
    --black-color: #000;
    --lightblue-color: #ADD8E6;
}
body{
    width: 1200px;
    margin: 0 auto;
}

#header-container {
    width: 1200px;
    height: 100px;
    padding: 40px 120px;
    background: var(--red-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-container:hover {
    border: 2px solid var(--lightblue-color);
}

.right-header-elements {
    display: flex;
    align-items: center;
}

h1 {
    width: 99px;
    height: 25px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

h1:hover {
    text-decoration: underline var(--lightblue-color);
}    

img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

img:hover {
    border: 2px solid var(--lightblue-color);
}

p:hover {
    text-decoration: underline var(--lightblue-color);
}

.right-header-elements a {
    width: 85px;
    height: 19px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
}

.right-header-elements a:hover {
    text-decoration: underline var(--lightblue-color);
}

h2:hover {
    text-decoration: underline var(--lightblue-color);
}

h3:hover {
    text-decoration: underline var(--lightblue-color);
}

#our-space {
    background: var(--blue-color);
    height: 418px;
    padding: 20px 0px;
}
#our-space:hover {
    border: 2px solid var(--lightblue-color);
}
#our-space h2{
    font-size: 32px;
    width: 357px;
    height: 44px;
    margin: 0px 723px 40px 120px;
    font-weight: 700;
    line-height: 44px;
}
#our-space h3{
    color: var(--black-color);
    font-size: 20px;
    margin: 20px 788px 20px 20px;
    font-weight: 700;
    line-height: 27px;
}

#our-space p{
    width: 920px;
    height: 40px;
    color: var(--black-color);
    font-size: 14px;
    margin:20px;
    line-height: 19px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* obs.: centralizei os cards em .cards-container, mesmo assim, coloquei margin-left e right de 120px em .our-espace-card porque estava no modelo figma. */

.our-space-card{
    max-width: 960px;
    height: 127px;
    background: var(--gray-color);
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 20px;
}

.our-space-card:hover {
    border: 2px solid var(--lightblue-color);
}

#modalities{
    background: var(--white-color);
    height: 880px;
    padding-bottom: 40px;
}
#modalities:hover {
    border-right: 2px solid var(--lightblue-color);
    border-left: 2px solid var(--lightblue-color);
}
#modalities h2{
    margin: 20px 876px 40px 120px;
    color: var(--red-color);
    width: 204px;
    height: 44px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
}

.modalities-card{
    background: var(--blue-color);
    margin: 0px 120px 20px 120px;
    max-width: 960px;
    height: 106px;
    padding: 20px;
}

.modalities-cards:hover {
    border: 2px solid var(--lightblue-color);
}



#modalities h3{
    width: 76px;
    height: 27px;
    font-size: 20px;
    margin-right: 844px;
    font-weight: 700;
    line-height: 27px;
}
#modalities p{
    width: 663px;
    height: 19px;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 277px;
    line-height: 19px;
}
#footer-container{
    height: 262px;
    background: var(--black-color);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-container:hover {
        border: 2px solid var(--lightblue-color);
}

.footer-elements1 {
    display: flex;
    align-items: center;
}

.footer-elements2 {
    margin-top: 10px;
}

footer a{
    width: 85px;
    height: 19px;
    text-decoration: none;
    line-height: 19px;
}

footer a:hover {
    text-decoration: underline var(--lightblue-color);
}

.space-between-elements1and2 {
    margin-bottom: 38px;
}

footer p {
    width: 180px;
    height: 21px;
    text-align: center;
    line-height: 19px;
}
